.acceuil {
    height: 100%;
    width: 100%;
    background-image: url("./../images/background/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}